Repository chakra-ui/chakra-ui, pull requests merged in 2021-12, with the labels that each got.

#4877 fix(popover): invisible Popover issue when inner element focused
  .changeset/flat-needles-enjoy.md
  packages/popover/src/use-popover.ts
  packages/popover/tests/popover.test.tsx
Labels: review needed 🔬

#5206 ci: add action for snapshot releases
  .github/workflows/changelog.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  examples/create-react-app/package.json
  examples/nextjs-typescript/package.json
  package.json
  scripts/build-templates.ts
  scripts/get-search-meta.ts
  scripts/image-cache.ts
  tooling/test-utils/package.json
  yarn.lock
Labels: Topic: Release Management :package:

#4979 feat: add peer psuedo props
  .changeset/chilly-phones-flash.md
  .codesandbox/ci.json
  packages/styled-system/src/pseudos.ts
  packages/styled-system/stories/css.stories.tsx
  packages/styled-system/tests/peer.test.ts
Labels: Type: Feature 🚀, core team 🌼, styled system 💅🏻
