Repository chakra-ui/chakra-ui, pull requests merged in 2022-02, with the labels that each got.

#5486 fix(cli): use latest pkg version of /utils
  .changeset/modern-parents-raise.md
  tooling/cli/package.json
Labels: Type: Dependency 🔗, CLI ⚙️

#5195 fix(TS): #5194 Disallow props from outside the prop interface
  .changeset/sweet-adults-refuse.md
  packages/system/src/system.types.tsx
  packages/system/tests/forward-ref.test.tsx
Labels: Topic: TypeScript 🤠

#5527 fix(cli): add failure exit code
  .changeset/shy-cobras-wonder.md
  tooling/cli/src/command/tokens/index.ts
Labels: Type: Bug 🐛, CLI ⚙️

#5287 fix(tooltip): add some background props for options to style arrow bg
  packages/tooltip/src/tooltip.tsx
Labels: Topic: Component API ⚙️

#5574 docs(show-hide): adding props descriptions to Show / Hide components
  .changeset/breezy-dogs-sniff.md
  packages/media-query/src/media-query.tsx
Labels: core team 🌼

#5508 feat: allow all dom elements for the chakra factory
  .changeset/unlucky-dingos-listen.md
  packages/system/src/factory.ts
  packages/system/src/index.ts
  packages/system/src/system.ts
  packages/system/src/system.utils.ts
Labels: Type: Feature 🚀, styled system 💅🏻

#5662 feat(cli): include semantic tokens in generated theme typings
  .changeset/lemon-jobs-impress.md
  tooling/cli/src/command/tokens/create-theme-typings-interface.ts
  tooling/cli/test/theme-typings.test.ts
Labels: Type: Feature 🚀, CLI ⚙️
