Repository chakra-ui/chakra-ui, pull requests merged in 2022-05, with the labels that each got.

#5680 feat(image): add imageFallbackStrategies
  .changeset/chatty-hornets-shake.md
  packages/image/src/image.tsx
  packages/image/src/use-image.ts
  packages/image/stories/image.stories.tsx
  packages/image/tests/use-image.test.tsx
Labels: core team 🌼

#5922 feat: storybook-addon toolbar
  .changeset/small-wombats-sit.md
  .changeset/three-lizards-share.md
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.tsx
  examples/storybook-addon/package.json
  package.json
  packages/button/stories/button.stories.tsx
  tooling/storybook-addon/README.md
  tooling/storybook-addon/package.json
  tooling/storybook-addon/src/components/ChakraProviderWrapper.tsx
  tooling/storybook-addon/src/components/ColorModeSwitch.tsx
  tooling/storybook-addon/src/components/index.ts
  tooling/storybook-addon/src/constants.ts
  tooling/storybook-addon/src/feature/arg-types.ts
  tooling/storybook-addon/src/feature/color-mode/ColorModeSync.tsx
  tooling/storybook-addon/src/feature/color-mode/ColorModeTool.tsx
  tooling/storybook-addon/src/feature/decorator/ChakraProviderDecorator.tsx
  tooling/storybook-addon/src/feature/direction/DirectionTool.tsx
  tooling/storybook-addon/src/feature/direction/useDirection.tsx
  tooling/storybook-addon/src/index.ts
  tooling/storybook-addon/src/preset/decorators.ts
  tooling/storybook-addon/src/preset/emotion-fallback.ts
  tooling/storybook-addon/src/preset/index.ts
  tooling/storybook-addon/src/preset/register.ts
  tooling/storybook-addon/theming-arg-types.png
  yarn.lock
Labels: Breaking Change :hammer:, Topic: Storybook Addon

#5990 fix(storybook-addon): use default theme as fallback
  .changeset/five-dots-own.md
  examples/storybook-addon/.storybook/main.js
  examples/storybook-addon/package.json
  tooling/storybook-addon/src/feature/decorator/ChakraProviderDecorator.tsx
Labels: Topic: Storybook Addon

#5998 chore: bump react-remove-scroll
  .changeset/rare-pans-tickle.md
  packages/modal/package.json
  yarn.lock
Labels: React 18 ⚛️

#6050 feat: responsive variants and sizes
  .changeset/dry-lemons-watch.md
  .changeset/five-parrots-do.md
  packages/styled-system/src/index.ts
  packages/styled-system/src/style-config.ts
  packages/styled-system/src/utils/create-transform.ts
  packages/styled-system/stories/style-config.stories.tsx
  packages/styled-system/tests/style-config.test.ts
  packages/styled-system/tests/theme.ts
  packages/system/src/system.types.tsx
  packages/system/src/use-style-config.ts
  packages/system/tests/style-config.test.tsx
  packages/system/tests/theme.ts
  packages/textarea/src/textarea.tsx
Labels: Type: Feature 🚀, styled system 💅🏻

#6117 feat: chakra-cli tokens --watch
  .changeset/serious-otters-tell.md
  .changeset/slow-kangaroos-accept.md
  tooling/cli/bin/tsconfig.json
  tooling/cli/package.json
  tooling/cli/src/command/tokens/index.ts
  tooling/cli/src/index.ts
  tooling/cli/src/scripts/read-theme-file.worker.ts
  tooling/cli/src/utils/format-with-prettier.ts
  yarn.lock
Labels: CLI ⚙️
