Repository chakra-ui/chakra-ui, pull requests merged in 2022-08, with the labels that each got.

#6335 Unify getCss and expandResponsive
  .changeset/nasty-pans-develop.md
  packages/styled-system/benchmarks/benchmark.js
  packages/styled-system/package.json
  packages/styled-system/src/css.ts
  packages/styled-system/src/utils/expand-responsive.ts
  packages/styled-system/tests/css.test.ts
  packages/utils/src/breakpoint.ts
  pnpm-lock.yaml
Labels: Topic: Performance, Topic: Styled System 💅🏻

#6346 Improve FormHelperText contrast
  .changeset/curly-trees-serve.md
  packages/theme/src/components/form.ts
Labels: Topic: Accessibility (A11y) ♿️

#6559 Refactor theme to use tokens
  .changeset/poor-news-argue.md
  packages/css-reset/src/css-reset.tsx
  packages/provider/src/chakra-provider.tsx
  packages/styled-system/src/utils/index.ts
  packages/styled-system/src/utils/pipe.ts
  packages/styled-system/src/utils/transform-functions.ts
  packages/theme/src/components/accordion.ts
  packages/theme/src/components/alert.ts
  packages/theme/src/components/button.ts
  packages/theme/src/components/checkbox.ts
  packages/theme/src/components/close-button.ts
  packages/theme/src/components/container.ts
  packages/theme/src/components/drawer.ts
  packages/theme/src/components/editable.ts
  packages/theme/src/components/form-control.ts
  packages/theme/src/components/form-error.ts
  packages/theme/src/components/form-label.ts
  packages/theme/src/components/input.ts
  packages/theme/src/components/list.ts
  packages/theme/src/components/menu.ts
  packages/theme/src/components/modal.ts
  packages/theme/src/components/number-input.ts
  packages/theme/src/components/popover.ts
  packages/theme/src/components/progress.ts
  packages/theme/src/components/radio.ts
  packages/theme/src/components/select.ts
  packages/theme/src/components/skip-link.ts
  packages/theme/src/components/slider.ts
  packages/theme/src/components/spinner.ts
  packages/theme/src/components/stat.ts
  packages/theme/src/components/switch.ts
  packages/theme/src/components/tag.ts
  packages/theme/src/components/textarea.ts
  packages/theme/src/components/tooltip.ts
  packages/theme/src/foundations/sizes.ts
  packages/theme/src/foundations/typography.ts
Labels: Topic: Theming 🎨, Topic: Styled System 💅🏻
